/* Root colors */
:root {
    --agave: #349177;


    --green1: #3CB054;
    --green1Alt: #339647;

    --green2: #2B729A;
    --green2Alt: #125981;

    --grey1: #A1A1A1;
    --grey1Alt: #878787;

    --dark3: #57606D;
    --dark2: #4E4C5F;
    --dark1: #1A1619;

    --dkgreen1: #496266;
    --dkgreen2: #7c9e86;
    --dkgreen3: #5e7678;
}



/* Box Shadow code */

.box {
    box-shadow: 0 0px 10px 0 rgba(0,0,0,0.2),0 0px 20px 0 rgba(0,0,0,0.19) !important;
}

body {
    margin: 0;
    padding: 0;
    background-color: white;
    font-family: 'Roboto', sans-serif;
    background: rgb(60,176,84);
    background: linear-gradient(30deg, rgba(60,176,84,1) 0%, rgba(43,114,154,1) 100%);
}

input, select, textarea {
    padding: 15px 20px;
    border: none;
    border-radius: 25px;
    width: 60%;
    margin: 10px;
    display: block;
    color: white;
}

button {
    background-color: var(--green2);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 6px;
}

button:hover {
    background-color: var(--green2Alt);
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    overflow-y: scroll;
  }
  
tr:hover {
      background-color: rgb(0, 0, 0, .1);
}

/* We need to ignore hover for TR rather than first child */
/* tr:first-child:hover {
    background-color: transparent;
} */

th {
    background-color: rgb(0, 0, 0, .2);
}

  td, th {
    text-align: left;
    padding: 8px;
  }

a {
    color: white;
}

a:hover {
    color: var(--green1)
}

.tableIcon {
    width: 30px;
}

/* #loader {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: var(--agave);
    opacity: .8;
    z-index: 9999;
    text-align: center;
} */

#loader { 
    display: none;
    align-items: center;
    background: var(--agave);
    height: 100vh;
    justify-content: center;
    left: 0;
    position: fixed;
    top: 0;
    transition: opacity 0.3s linear;
    width: 100%;
    z-index: 9999;
    opacity: .9;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% {  transform: rotate(360deg); }
}

#loaderIcon {
    animation: spin 2s linear infinite;
}

/* Navbar CSS */
#navBar {
    display: none;
    width: 100%;
    height: 8vh;
    background: transparent;
    /* display: flex; */
}

#userInfoDiv {
    width: 90%;
    display: inline-flex;
    color: white;
    height: 100%;
    background-color: rgb(0, 0, 0, .4);
    text-align: center;
}

#userInfoLogoDiv {
    width: 20%;
    display: inline-block;
    margin: auto;
}

#userInfoLogo {
    /* padding: 10px 0px 10px 0px; */
}

#userInfoAddress {
    width: 50%;
    display: inline-block;
}

#userInfoBalance {
    width: 30%;
    display: inline-block;
    font-size: 2rem;
    margin: auto;
}

#userAddress {
    font-size: 1.1rem;
    margin: auto;
    text-transform: uppercase;
}

#networkDiv {
    width: 30%;
}

#logoutDiv {
    cursor: pointer;
    width: 10%;
    text-align: center;
    background-color: var(--green1);
}

#logoutDiv:hover {
    background-color: var(--green1Alt);
}

.logoutIcon { 
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

#canvas {
    height: 92vh;
    width: 100%;
    display: none;
}

/* Login Code */

#loginArea {
    display: inline-flex;
    height: 100vh;
    width: 100%;
}

#newUserDiv {
    display: none;
}

#returningUserDiv {
    display: block;
}

.loginNav {
    margin: auto;
    width: 50vw;
}

.loginCard {
    width: 100%;
    background-color: rgb(0, 0, 0, .2);
    box-sizing: border-box

}

.tabsTitles {
    display: inline-flex;
    width: 100%;
}

.loginLogoDiv {
    width: 40vw;
    text-align: center;
}

.loginLogo {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    width: 60%;
}

.loginDiv {
    width: auto;
    padding: 1vw;
}

.loginTab {
    width: 50%;
    margin: 0;
    border-radius: 0px;
}

.loginTabAlt {
    background-color: var(--green1);
}

.loginTabAlt:hover {
    background-color: var(--green1Alt);
}

.loginInput {
    width: 100%;
    margin: 10px 0px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

/* Wallet Area */
#walletDiv {
    width: 100vw;
    height: 100%;
    display: none;
}

#walletNav {
    width: auto;
    background-color: rgb(0, 0, 0, .4);
}

#walletArea {
    width: 100%;
    padding: 1vw;
}

.item {
    /* background-color: var(--green1); */
    padding: 10px;
    /* border-radius: 6px; */
    height: 38vh;
    margin: 10px;
    color: white;
    /* overflow-y: scroll; */
}

.navTable {
    background-color: transparent;
    height: 40%;
}

.navRow {
    background-color: transparent;
    color: white;
}

.navTD {
    font-size: 1.2rem;
    transition: all .2s ease-in-out;
    text-align: center;
}

.navRow:hover {
    cursor: pointer;
    background-color: rgb(0, 0, 0, .1); 
    color: var(--green1);
}

.navActive {
    color: var(--green1);
    background: rgb(0, 0, 0, .2);
}

/* Info table styles */

.infoTable {
    background-color: transparent;
    height: 20%;
}

.infoRow{
    background-color: transparent;
    color: var(--dark1)
}

.infoTD {
    font-size: .8rem;
    text-align: center;
}

.peerAssets {
    height: 16px;
}

/* Status Table */
.statusTable {
    background-color: transparent;
    height: 10%;
}

.statusRow {
    background-color: transparent;
}

.statusRow:hover {
    background-color: rgb(0, 0, 0, 0);
}

.statusTD {
    font-size: .7rem;
    text-align: center;
    color: var(--grey1);
}

/* Wallet Content Divs */
.walletInput {
    background-color: rgb(0, 0, 0, .2);
}

#overviewDiv {
    display: none;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.walletSubDiv {
    color: white;
}


#balances { 
    grid-area: 1 / 1 / 2 / 2; 
}

#decks { 
    grid-area: 1 / 2 / 2 / 3;  
}

/* Bottom most div */
#recentTransactions { 
    grid-area: 2 / 1 / 3 / 3; 
}

/* Send Content Divs */
#sendDiv {
    display: none;
    text-align: center;
    justify-content: center;
}

.walletFormDiv {
    width: 60%;
}

#confirmTransactionSend {
    display: none;
}

#confirmTransactionCreate {
    display: none;
}

.confirmTransactionDiv {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background: rgb(0, 0, 0, .5);
    z-index: 9999;
    align-items: center;
    display: flex;
    justify-content: center;
}

.confirmDiv {
    width: 60%;
    background: rgb(0, 0, 0, .7);
    padding: 2vw;
    text-align: center;
}

.confirmText {
    color: var(--agave)
}

.confirmTable {
    width: 60%;
    margin: auto;
}

.confirmRow {

}

.confirmRow:hover {
    background-color: transparent;
}

.confirmTD {

}

.confirmButtonsDiv {
    display: inline;
}

.confirmButton {
    background-color: var(--green1);
}

.confirmButton:hover {
    background-color: var(--green1Alt);
}

#transactionsDiv {
    display: none;
}

#createHelp {
    display: none;
}

#sendHelp {
    display: none;
}

.helpButton {
    text-align: center;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100px;
    background: rgb(0, 0, 0, .4);
    color: var(--agave);
}

.helpButton:hover {
    background: rgb(0, 0, 0, .5)
}